// FORMS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
[type=text],
[type=email],
[type=search],
[type=password],
select,
textarea {
	@extend %dl__text_base;

	width: 100%;
	height: 50px;

	margin: 0;
	padding: 0 25px;

	background: none;
	background: rgb($dl_color_white);
	border: none;
	border: 2px solid transparent;
	outline: none;

	color: rgb($dl_color_text_title);
	text-indent: 0;

	-webkit-appearance: none;
			appearance: none;

	@include filter( none );
	@include border_radius( 25px );

	&:focus {
		border-color: rgb($dl_color_mid_grey);
	}

	&:required,
	&:required:focus {
		@include box_shadow( none );
	}

	&:invalid,
	&:invalid:focus {
		// border-color: rgb($dl_color_red);

		@include box_shadow( none );
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		border-color: rgb($dl_color_mid_grey);

		@include box_shadow( 0 0 0 40px rgb($dl_color_white) inset !important );
	}

}




// ALERTS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.errors li,
.alert li {
	@extend %dl__text_base;

	font-weight: bold;
}

.alert_success li {
	color: #0ca63f;
}

.errors li,
.alert_error li {
	color: #ff0000;
}




// RESPONSIVE STYLES //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@include responsive( $min, $viewport_1 ) {

}




@include responsive( $min, $viewport_2 ) {

}




@include responsive( $min, $viewport_3 ) {

}




@include responsive( $min, $viewport_4 ) {

}




@include responsive( $min, $viewport_5 ) {

}




@include responsive( $min, $viewport_6 ) {

	[type=text],
	[type=email],
	[type=search],
	[type=password],
	select,
	textarea {
		height: 60px;

		@include border_radius( 30px );
	}

}




@include responsive( $min, $viewport_7 ) {

}