:root {
    --base_font_color: 51, 51, 51;
    --heading_font_color: 51, 51, 51;
    --links_color: 51, 51, 51;
    --links_color_hover: 241, 87, 75;
    --primary_btn_bg_color: 241, 87, 75;
    --primary_btn_txt_color: 255, 255, 255;
    --primary_btn_bg_color_hover: 240, 57, 42;
    --primary_btn_txt_color_hover: 255, 255, 255;
    --primary_btn_disabled: 175, 166, 166;
    --secondary_btn_bg_color: 241, 87, 75;
    --secondary_btn_txt_color: 255, 255, 255;
    --secondary_btn_bg_color_hover: 240, 57, 42;
    --secondary_btn_txt_color_hover: 255, 255, 255;
    --secondary_btn_disabled: 255, 255, 255;
    --page_bg_color: 255, 255, 255;
    --page_bg_color_dark: 245, 245, 245;
    --header_bg_color: 255, 255, 255;
    --footer_bg_color: 30, 23, 50;
    --border_color: 238, 238, 238;
    --color_1: 255, 255, 255;
    --color_2: 51, 51, 51;
    --color_3: 241, 87, 75;
    --color_4: 255, 252, 193;
    --color_5: 33, 189, 154;
    --color_6: 115, 208, 15;
    --picker_offer_bg: 233, 239, 255;
    --picker_offer_bg_dark: 213, 224, 255;
    --picker_offer_border: 218, 221, 231;
    --picker_offer_text: 51, 51, 51;
    --picker_offer_active_bg: 83, 100, 139;
    --picker_offer_active_bg_dark: 60, 72, 101;
    --picker_offer_active_border: 30, 189, 154;
    --picker_offer_active_text: 218, 221, 231;
    --rating_grade_1: 255, 0, 0;
    --rating_grade_2: 255, 0, 0;
    --rating_grade_3: 255, 206, 0;
    --rating_grade_4: 115, 207, 17;
    --rating_grade_5: 0, 182, 122;
    --form_border_color: 200, 200, 200;
    --dl_color_text_base: 100, 99, 117;
    --dl_color_text_title: 58, 57, 67;
    --dl_color_text_grey: 154, 153, 165;
    --dl_color_mid_grey: 218, 221, 231;
    --dl_color_light_grey: 244, 244, 244;
    --dl_color_white: 255, 255, 255;
    --dl_color_red: 253, 72, 72;
    --dl_color_yellow: 255, 209, 46;
    --dl_gradient_green_1: 158, 228, 212;
    --dl_gradient_green_2: 83, 190, 146;
    --dl_gradient_pink_1: 255, 193, 194;
    --dl_gradient_pink_2: 248, 121, 122;
    --dl_gradient_purple_1: 227, 199, 241;
    --dl_gradient_purple_2: 164, 124, 182;
    --dl_gradient_orange_1: 255, 217, 173;
    --dl_gradient_orange_2: 255, 161, 108;
    --dl_gradient_yellow_1: 255, 239, 152;
    --dl_gradient_yellow_2: 255, 191, 133;
    --dl_gradient_marine_1: 168, 231, 245;
    --dl_gradient_marine_2: 84, 192, 186;
    --dl_gradient_blue_1: 180, 223, 255;
    --dl_gradient_blue_2: 113, 177, 223;
    --dl_gradient_grey_1: 250, 250, 250;
    --dl_gradient_grey_2: 239, 239, 239;
    --dl_gradient_blue_1: 180, 223, 255;
    --dl_gradient_blue_2: 113, 177, 223;
    --dl_link_font_color: 253, 72, 72;
    --dl_link_font_color_hover: 58, 57, 67;
    --dl_primary_btn_bg: 253, 72, 72;
    --dl_primary_btn_txt: 255, 255, 255;
    --dl_primary_btn_txt_shadow: 195, 2, 2;
    --dl_primary_btn_bg_hover: 222, 26, 26;
    --dl_primary_btn_txt_hover: 255, 255, 255;
    --dl_secondary_btn_txt: 58, 57, 67;
    --dl_secondary_btn_txt_hover: 253, 72, 72;
    --dl_color_text_base: 100, 99, 117;
    --dl_color_text_title: 58, 57, 67;
    --dl_color_text_grey: 154, 153, 165;
    --dl_color_mid_grey: 218, 221, 231;
    --dl_color_light_grey: 244, 244, 244;
    --dl_color_white: 255, 255, 255;
    --dl_color_red: 253, 72, 72;
    --dl_color_yellow: 255, 209, 46;
    --dl_hero_gradient_color_1: 250, 39, 39;
    --dl_hero_gradient_color_2: 233, 239, 255;
    --dl_gradient_1_color_1: 215, 182, 231;
    --dl_gradient_1_color_2: 164, 124, 182;
    --dl_gradient_2_color_1: 255, 220, 170;
    --dl_gradient_2_color_1: 255, 181, 109;
    --dl_gradient_3_color_1: 108, 196, 160;
    --dl_gradient_3_color_1: 158, 228, 212;
    --dl_gradient_4_color_1: 108, 196, 191;
    --dl_gradient_4_color_1: 158, 215, 228;
    --dl_gradient_5_color_1: 247, 147, 148;
    --dl_gradient_5_color_1: 244, 182, 172;
}